.SideInfoArticle__side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
@media (min-width: 920px) {
    .SideInfoArticle__side-container {
        width: 35%;
    }
}