.HamburgerBtn {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 45px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.HamburgerBtn__bar {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 7px;
    background-color: #cd53ee;
    border-radius: 2px;
    transition: .6s;
}