.Github__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin: 30px auto 0;
}

.Github__heading {
    padding: 20px 0;
    margin-bottom: 15px;
    color: white;
    font-size: 25px;
}

.Github__heading-span {
    color: #cd53ee;
}
