.About {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--section-backgroundColor)
}

.About__about-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 920px) {
    .About__about-wrapper {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
    }

    .About__skills-img-wrapper {
        width: 90%;
        grid-template-columns: repeat(5, 1fr);
    }

    .About__skills-img-container {
        height: 45px;
        width: 45px;
    }

    .About__side-container {
        width: 35%;
    }
}