.About {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            rgb(11, 20, 49),
            rgba(11, 19, 49, 0.9)
    )
}

.About__about-wrapper {
    width: 90%;
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    align-items: center;
    align-self: center;
    /*justify-content: space-between;*/
}

.About__side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.About__main-container {
    width: 90%;
    text-align: center;
}

.About__heading {
    padding: 20px 0 10px;
    color: white;
    font-size: 25px;
}

.About__text {
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
}

.About__skills-wrapper {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
}

.About__skills-article {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    /*box-shadow: -4px -3px 15px 0 rgba(205, 83, 238, 0.35);*/
    /*background-color: rgba(205, 83, 238, 0.03);*/
    transition: .4s ease;
}

.About__skills-heading {
    margin-bottom: 15px;
    font-size: 25px;
    padding: 25px 0;
    color: white;
}

.About__skills-img-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.About__skills-img-container {
    height: 30px;
    width: 30px;
}

.About__skills-article img {
    transition: .3s;
    max-width: 100%;
    max-height: 100%;
}

.About__skills-article img:hover {
    transform: scale(1.1);
}

@media (min-width: 920px) {
    .About__about-wrapper {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }

    .About__skills-img-wrapper {
        width: 90%;
        grid-template-columns: repeat(5, 1fr);
    }

    .About__skills-img-container {
        height: 45px;
        width: 45px;
    }

    /*.About__skills-wrapper {*/
    /*    width: 90%;*/
    /*}*/
    .About__side-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
    }
    .About__main-container {
        width: 60%;
        text-align: left;
    }
}