:root {
    --span-color: #cd53ee;
    --section-backgroundColor: linear-gradient(
            rgb(11, 20, 49),
            rgba(11, 19, 49, 0.9)
    )
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.global__span-color {
    color: var(--span-color);
}